body {
    background-image:url("https://media0.giphy.com/media/xT77XWum9yH7zNkFW0/source.gif");
}
h1 {
color: yellow;
font-family: 'Staatliches', cursive;
text-align: center;
}
.big {
    font-size: 95px;
}
h2 {
    color: yellow;
}

.big {
    font-size: 50px;
}
.img {
    font-size: 25px;
}

h3 {
    color: yellow;
}
h4 {
    color: yellow;
}
h5 {
    color: yellow;
}







